Importación_Librerias

In [41]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import openpyxl 
import imblearn
import sklearn
import os
from tabulate import tabulate

Conexión Archivos Fuente

In [42]:

# Directorio donde están los archivos Excel
folder_path = 'D:/Andres/Andres/OneDrive - utadeo.edu.co/Univerdidad/U_Tadeo/MIAD/2_Semestre/PRINCIPIOS_MODELADO_SIMULACION/TRABAJO_FINAL/FUENTE_DE_DATOS'

# Nombre de la pestaña específica que quieres leer
sheet_name = 'Detalle'

# Lista para almacenar los DataFrames
dataframes = []

# Iterar sobre todos los archivos en la carpeta
for filename in os.listdir(folder_path):
    if filename.endswith(".xlsx"):  # Filtrar solo archivos Excel
        file_path = os.path.join(folder_path, filename)
        
        # Leer la hoja específica, omitiendo la  primera fila
        df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=1, engine='openpyxl')
        
        # La primera fila ahora será el encabezado del DataFrame
        df.columns = df.iloc[0]  # Usar la primera fila como encabezado
        df = df[1:]  # Eliminar la fila de encabezado duplicada
        
         # Agregar una columna con el nombre del archivo
        df['Nombre_Archivo'] = filename
        
        # Añadir el DataFrame a la lista
        dataframes.append(df)

# Concatenar todos los DataFrames (si es necesario)
final_df = pd.concat(dataframes, ignore_index=True)

# Mostrar el DataFrame final
print(tabulate(final_df.head(5), headers='keys', tablefmt='fancy_grid'))

╒════╤════════╤══════════════╤══════════════════════════════════════════════════════════╤═════════════════════╤═════════════════════╤════════════════╤══════════════════╤════════════════╤════════════════════════════════════════════╤═══════════════════════════════════════════════╤══════════════════════════════════════════════╕
│    │   fila │ País Socio   │ Capitulo Del Arancel                                     │   Código de Partida │ Nombre de Partida   │   Cantidad(Kg) │   Valor CIF Euro │   Valor CIF US │   Valor Unitario (Valor CIF Euro/Cantidad) │   Valor Unitario (Valor CIF US/Cantidad (KG)) │ Nombre_Archivo                               │
╞════╪════════╪══════════════╪══════════════════════════════════════════════════════════╪═════════════════════╪═════════════════════╪════════════════╪══════════════════╪════════════════╪════════════════════════════════════════════╪═══════════════════════════════════════════════╪══════════════════════════════════════════════╡
│  0 │      1 │ AUSTRALIA    │ Frutas; cortezas de agrios (cítricos), melones o sandías │            08011100 │ Secos               │             40 │              125 │         140.3  │                                    3.125   │                                       3.5075  │ 2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx │
├────┼────────┼──────────────┼──────────────────────────────────────────────────────────┼─────────────────────┼─────────────────────┼────────────────┼──────────────────┼────────────────┼────────────────────────────────────────────┼───────────────────────────────────────────────┼──────────────────────────────────────────────┤
│  1 │      2 │ AUSTRIA (UE) │ Frutas; cortezas de agrios (cítricos), melones o sandías │            08011100 │ Secos               │         110849 │           503483 │      565109    │                                    4.54206 │                                       5.09801 │ 2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx │
├────┼────────┼──────────────┼──────────────────────────────────────────────────────────┼─────────────────────┼─────────────────────┼────────────────┼──────────────────┼────────────────┼────────────────────────────────────────────┼───────────────────────────────────────────────┼──────────────────────────────────────────────┤
│  2 │      3 │ BÉLGICA (UE) │ Frutas; cortezas de agrios (cítricos), melones o sandías │            08011100 │ Secos               │          51955 │           142451 │      159887    │                                    2.74182 │                                       3.07741 │ 2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx │
├────┼────────┼──────────────┼──────────────────────────────────────────────────────────┼─────────────────────┼─────────────────────┼────────────────┼──────────────────┼────────────────┼────────────────────────────────────────────┼───────────────────────────────────────────────┼──────────────────────────────────────────────┤
│  3 │      4 │ BRASIL       │ Frutas; cortezas de agrios (cítricos), melones o sandías │            08011100 │ Secos               │             43 │              225 │         252.54 │                                    5.23256 │                                       5.87302 │ 2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx │
├────┼────────┼──────────────┼──────────────────────────────────────────────────────────┼─────────────────────┼─────────────────────┼────────────────┼──────────────────┼────────────────┼────────────────────────────────────────────┼───────────────────────────────────────────────┼──────────────────────────────────────────────┤
│  4 │      5 │ BURKINA FASO │ Frutas; cortezas de agrios (cítricos), melones o sandías │            08011100 │ Secos               │          21930 │            85964 │       96486    │                                    3.91993 │                                       4.39973 │ 2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx │
╘════╧════════╧══════════════╧══════════════════════════════════════════════════════════╧═════════════════════╧═════════════════════╧════════════════╧══════════════════╧════════════════╧════════════════════════════════════════════╧═══════════════════════════════════════════════╧══════════════════════════════════════════════╛

In [43]:
final_df.shape
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19245 entries, 0 to 19244
Data columns (total 11 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   fila                                         19245 non-null  object
 1   País Socio                                   19245 non-null  object
 2   Capitulo Del Arancel                         19245 non-null  object
 3   Código de Partida                            19245 non-null  object
 4   Nombre de Partida                            19245 non-null  object
 5   Cantidad(Kg)                                 19245 non-null  object
 6   Valor CIF Euro                               19245 non-null  object
 7   Valor CIF US                                 19245 non-null  object
 8   Valor Unitario (Valor CIF Euro/Cantidad)     19245 non-null  object
 9   Valor Unitario (Valor CIF US/Cantidad (KG))  19245 non-null  object
 10  Nombre_Archivo                               19245 non-null  object
dtypes: object(11)
memory usage: 1.6+ MB

Agregar columna año

In [44]:
final_df['Año'] = final_df['Nombre_Archivo'].apply(lambda x: x.split('_')[0])
final_df.head(5)

,fila,País Socio,Capitulo Del Arancel,Código de Partida,Nombre de Partida,Cantidad(Kg),Valor CIF Euro,Valor CIF US,Valor Unitario (Valor CIF Euro/Cantidad),Valor Unitario (Valor CIF US/Cantidad (KG)),Nombre_Archivo,Año
0,1,AUSTRALIA,"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,40,125,140.3,3.125,3.5075,2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx,2016
1,2,AUSTRIA (UE),"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,110849,503483,565109.3192,4.542062,5.09801,2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx,2016
2,3,BÉLGICA (UE),"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,51955,142451,159887.0024,2.741815,3.077413,2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx,2016
3,4,BRASIL,"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,43,225,252.54,5.232558,5.873023,2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx,2016
4,5,BURKINA FASO,"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,21930,85964,96485.9936,3.919927,4.399726,2016_IMP_ALEMANIA_CAP_ARANCEL_08_FRUTAS.xlsx,2016

Eliminar columnas de valor en Euros y Nombre del archivo

In [45]:
final_df = final_df.drop(df.columns[[6, 8, 10]],axis=1)
final_df.head(5)

,fila,País Socio,Capitulo Del Arancel,Código de Partida,Nombre de Partida,Cantidad(Kg),Valor CIF US,Valor Unitario (Valor CIF US/Cantidad (KG)),Año
0,1,AUSTRALIA,"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,40,140.3,3.5075,2016
1,2,AUSTRIA (UE),"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,110849,565109.3192,5.09801,2016
2,3,BÉLGICA (UE),"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,51955,159887.0024,3.077413,2016
3,4,BRASIL,"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,43,252.54,5.873023,2016
4,5,BURKINA FASO,"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,21930,96485.9936,4.399726,2016

Renombrar Columnas

In [48]:
final_df=final_df.rename(columns={'País Socio':'Pais_Socio','Capitulo Del Arancel':'Capitulo_Del_Arancel','Código de Partida':"Codigo_De_Partida",'Nombre de Partida':'Nombre_De_Partida', 'Valor CIF US':'Valor_CIF_US', 'Valor Unitario (Valor CIF US/Cantidad (KG))':'Valor_Unitario_US'})
final_df.head(2)

,fila,Pais_Socio,Capitulo_Del_Arancel,Codigo_De_Partida,Nombre_De_Partida,Cantidad(Kg),Valor_CIF_US,Valor_Unitario_US,Año
0,1,AUSTRALIA,"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,40,140.3,3.5075,2016
1,2,AUSTRIA (UE),"Frutas; cortezas de agrios (cítricos), melones...",08011100,Secos,110849,565109.3192,5.09801,2016

In [49]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19245 entries, 0 to 19244
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fila                  19245 non-null  object
 1   Pais_Socio            19245 non-null  object
 2   Capitulo_Del_Arancel  19245 non-null  object
 3   Codigo_De_Partida     19245 non-null  object
 4   Nombre_De_Partida     19245 non-null  object
 5   Cantidad(Kg)          19245 non-null  object
 6   Valor_CIF_US          19245 non-null  object
 7   Valor_Unitario_US     19245 non-null  object
 8   Año                   19245 non-null  object
dtypes: object(9)
memory usage: 1.3+ MB

Ajustar tipo de variable

In [53]:
final_df=final_df.astype({'Cantidad(Kg)':'float','Valor_CIF_US':'float','Valor_Unitario_US':'float' })
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19245 entries, 0 to 19244
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fila                  19245 non-null  object
 1   Pais_Socio            19245 non-null  string
 2   Capitulo_Del_Arancel  19245 non-null  object
 3   Codigo_De_Partida     19245 non-null  object
 4   Nombre_De_Partida     19245 non-null  object
 5   Cantidad(Kg)          19245 non-null  float64
 6   Valor_CIF_US          19245 non-null  float64
 7   Valor_Unitario_US     19245 non-null  float64
 8   Año                   19245 non-null  object
dtypes: float64(3), object(5), string(1)
memory usage: 1.3+ MB

Exportar_archivo a tipo JSON

In [54]:
final_df.to_json('consolidado_importaciones_alemania.json',orient='records', lines=True)